#root {
  margin: 0;
  height: 100%;
}

.white.plus.icon {
  cursor: pointer;
}

.white.plus.icon:active {
  font-size: 90%;
}

textarea::-webkit-scrollbar {
  display: none;
}

.popup {
  padding: 0 !important;
  margin-bottom: 1em !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#avatar:hover {
  opacity: 0.7;
}

#sidebar {
  border-radius: 0;
  min-width: 261px;
}

#sidebar-mobile {
  display: none;
}

#sb-open {
  display: none;
}

#meta-panel-mobile {
  display: none !important;
}

#head-name {
  cursor: pointer;
  border-radius: 1000px;
  transition: all 0.3s ease 0s;
}

#head-name:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 1000px;
}

#meta-close-icon {
  float: right;
  cursor: pointer;
  transition: all 0.1s ease 0s;
  margin: 5px;
}

#meta-close-icon:hover {
  background: rgb(236, 236, 236);
  border-radius: 100%;
}

@media only screen and (max-width: 1024px) {
  #sidebar {
    display: none;
  }
  #sidebar-mobile {
    display: initial;
    z-index: 100;
    left: -100%;
    min-width: 261px;
    transition: all 0.25s linear 0s;
  }

  #sidebar-mobile.visible {
    left: 0;
  }

  #sb-open {
    display: initial;
  }

  #search {
    display: none;
  }

  #meta-panel {
    display: none !important;
  }

  #meta-panel-mobile {
    display: flex !important;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0 !important;
    width: 0 !important;
    opacity: 0;
    overflow: hidden;
    transition: all 0.25s ease 0s;
    z-index: 100;
  }

  #meta-panel-mobile.visible {
    top: 0;
    left: 0;
    opacity: 1;
    height: 100% !important;
    width: 100% !important;
  }
}
